# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Lab0/.vs/Lab0/v17/Browse.VC.opendb
/Lab2/.vs/Lab2/v17/Browse.VC.db
/Lab2/.vs/Lab2/v17/Browse.VC.opendb
/Lab2/.vs/Lab2/v17/Browse.VC.db-wal
/Lab2/.vs/Lab2/v17/Browse.VC.db-shm
/Lab3/.vs/Lab3/v17/Browse.VC.db
/Lab3/.vs/Lab3/v17/Browse.VC.opendb
/Lab3/Lab3/x64/Debug/Lab3.tlog/CL.command.1.tlog
/Lab3/.vs/Lab3/v17/Browse.VC.db-wal
/Lab3/.vs/Lab3/v17/Browse.VC.db-shm
/Lab6/.vs/Lab6/v17/Browse.VC.db
/Lab6/.vs/Lab6/v17/Browse.VC.opendb
/Lab7_1/.vs/Lab7_1/v17/Browse.VC.db
/Lab7_1/.vs/Lab7_1/v17/Browse.VC.opendb
/Lab8_1/.vs/Lab8_1/v17/Browse.VC.opendb
/Lab8_2/.vs/Lab8_2/v17/Browse.VC.db
/Lab8_2/.vs/Lab8_2/v17/Browse.VC.opendb
/Lab12_ElGamal/.vs/Lab12_ElGamal/v17/Browse.VC.opendb
/PREZA3/.vs/PREZA3/v17/Browse.VC.opendb
