# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Lab0/.vs/Lab0/v17/Browse.VC.opendb
/Lab2/.vs/Lab2/v17/Browse.VC.db
/Lab2/.vs/Lab2/v17/Browse.VC.opendb
/Lab2/.vs/Lab2/v17/Browse.VC.db-wal
/Lab2/.vs/Lab2/v17/Browse.VC.db-shm
